<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://192.168.1.14:1433;databaseName=QLGDNhaDat;encrypt=false</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">Hai0902031167.</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!--
            Allow Hibernate to automatically build database's tables
            based on mapping informations
        -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Mapping classes -->
        <mapping class="nhom8.qlgiaodichnhadat.entities.GiaoDich"/>
        <mapping class="nhom8.qlgiaodichnhadat.entities.GiaoDichDat"/>
        <mapping class="nhom8.qlgiaodichnhadat.entities.GiaoDichNha"/>
    </session-factory>
</hibernate-configuration>